body {
    margin: 0px;
}
.overallContainer {
    height: 100vh;
    width: 100%;
}
.header {
    height: 10vh;
    width: 100%;
}
.row {
    margin: 0;
}
.wordsArrContainer {
    height: 90vh;
}
.containerWrapper {
    height: 90vh;
    position: relative;
}
.boardContainer {
    height: 80vmin;
    width: 80vmin;
    font-size: 0;
    position: absolute;
    left:0; right:0;
    top:0; bottom:0;
    margin:auto;
    max-width:100%;
    max-height:100%;
    overflow:auto;
}
.statsContainer {
    height: 90vh;
}
.cell {
    height: 10%;
    width: 10%;
    border: white solid 1px;
    display: inline-block;
    background-color: white;
}
.cellText {
    font-size: 2rem;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}
h1, h5 {
    margin: 0;
}
.title {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.canvas {
    position: absolute;
    width: 500px;
    height: 500px;
}