/*div{*/
    /*height: 30px;*/
    /*width: 30px;*/
    /*background-color: black;*/
    /*border: 1px solid white;*/
/*}*/

.cell {
    height: 60px;
    /*width: 30px;*/
    background-color: black;
    border: 1px solid white;
}

body {
    margin: 0px;
    height: 100vh;
    width: 100vw;
    font-size: 0px;
}

.header {
    height: 10vh;
    width: 100%;
    border: black solid 1px;
}

.containerWrapper {
    vertical-align: top;
    /*position: relative;*/
    display: inline-block;
    width: 59%;
    height: 76%;
}

.boardContainer {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    width: 100%;
}

.wordsArrContainer {
    vertical-align: top;
    display: inline-block;
    height: 90%;
    width: 20%;
    background-color: #007BFf;
}

.statsContainer {
    height: 90%;
    width: 20%;
    border: #007BFf solid 1px;
    display: inline-block;
    background-color: #007BFf;
}