body {
    margin: 0px;
}
div {
    user-select: none;
}
.overallContainer {
    height: 100vh;
    width: 100%;
}
.header {
    height: 10vh;
    width: 100%;
    position: relative;
    user-select: none;
}
.row {
    margin: 0;
}

.wordsWrapper {
  height: 90vh;
  padding: 20%;
}

.containerWrapper {
    height: 90vh;
    position: relative;
}
.boardContainer {
    height: 80vmin;
    width: 80vmin;
    font-size: 0;
    position: absolute;
    left:0; right:0;
    top:0; bottom:0;
    margin:auto;
    max-width:100%;
    max-height:100%;
    overflow:auto;
}
.timerWrapper {
    height: 90vh;
    visibility: hidden;
}
.timerCard {
    height: 20vh;
}
.timerSpan {
    font-size: 3.5rem;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.cell {
    height: 10%;
    width: 10%;
    display: inline-block;
    background-color: white;
}
.cellText {
    font-size: 2rem;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}
h1, h5 {
    margin: 0;
    user-select: none;
}
h1 {
    font-weight: 300;
}
.title {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.canvas {
    position: absolute;
    pointer-events: none;
}
.buttonContainer {
    position: absolute;
    top: 50%;
    right: 4%;
    transform: translateY(-50%);
}
.wordsArrContainer > h5 {
    margin-bottom: 2rem;
}
.wordsWrapper, .statsWrapper {
    padding-top: 5%;
}

.wordsCard, .timerCard {
    width: 100%;
    border-radius: 20px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.wordsArrContainer h5:first-child {
    padding-top: 2rem;
}

.wordsArrContainer h5:last-child {
    padding-bottom: 2rem;
}

.cell:hover {
    color: rgb(131, 226, 226);
    cursor: pointer;
}

.shakeAnimation {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-0.25px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(1px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-2px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(2px, 0, 0);
    }
  }